In [1]:
import pandas as pd

In [6]:
df2020 = pd.read_csv('../../data/pres2020.csv')

In [7]:
df2020

,Unnamed: 0,year,FIPS,office,state,dem_votes,rep_votes,total_votes,target,win_percentage,win_margin,Population(2010),Land Areami²,Water Areami²,Total Areami²,Latitude,Longitude
0,5,2020,6001.0,PRESIDENT,CA,617659.0,136309.0,753968.0,0,81.92,31.92,1510271,739.017,82.311,821.328,37.64808,-121.91330
1,11,2020,6003.0,PRESIDENT,CA,476.0,244.0,720.0,0,66.11,16.11,1175,738.332,4.848,743.180,38.61761,-119.79899
2,17,2020,6005.0,PRESIDENT,CA,8153.0,13585.0,21738.0,1,62.49,12.49,38091,594.583,11.373,605.956,38.44355,-120.65385
3,23,2020,6007.0,PRESIDENT,CA,50426.0,48730.0,99156.0,0,50.86,0.86,220000,1636.464,40.667,1677.131,39.66595,-121.60191
4,29,2020,6009.0,PRESIDENT,CA,10046.0,16518.0,26564.0,1,62.18,12.18,45578,1020.012,16.915,1036.927,38.18784,-120.55511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,2860,2020,48499.0,PRESIDENT,TX,3509.0,19049.0,22558.0,1,84.44,34.44,41964,645.234,50.484,695.718,32.78358,-95.38216
476,2866,2020,48501.0,PRESIDENT,TX,420.0,2174.0,2594.0,1,83.81,33.81,7879,799.708,0.013,799.721,33.17239,-102.82377
477,2872,2020,48503.0,PRESIDENT,TX,1034.0,7110.0,8144.0,1,87.30,37.30,18550,914.468,16.391,930.859,33.15878,-98.67826
478,2878,2020,48505.0,PRESIDENT,TX,1826.0,2033.0,3859.0,1,52.68,2.68,14018,998.412,59.603,1058.015,26.99698,-99.18260
479,2884,2020,48507.0,PRESIDENT,TX,2864.0,1490.0,4354.0,0,65.78,15.78,11677,1297.406,4.328,1301.734,28.86465,-99.75983

In [9]:
df2020votes = df2020[['FIPS', 'target']]

In [10]:
df2020votes

        FIPS  target
0     6001.0       0
1     6003.0       0
2     6005.0       1
3     6007.0       0
4     6009.0       1
..       ...     ...
475  48499.0       1
476  48501.0       1
477  48503.0       1
478  48505.0       1
479  48507.0       0

[480 rows x 2 columns]

In [11]:
df = pd.read_csv('../../data/1620_skew_diff.csv')

In [12]:
df

,Unnamed: 0,all_skew_diff,1620_skew_diff,FIPS,county,state,Population(2010),Latitude,Longitude
0,2764,22.275,43.02,49031.0,PIUTE,UT,1556,38.33588,-112.12937
1,2755,22.955,41.68,49013.0,DUCHESNE,UT,18607,40.28964,-110.42983
2,2772,22.465,40.79,49047.0,UINTAH,UT,32588,40.12588,-109.51774
3,2769,21.885,40.65,49041.0,SEVIER,UT,20802,38.74682,-111.81193
4,2756,22.395,40.01,49015.0,EMERY,UT,10976,39.00902,-110.72111
...,...,...,...,...,...,...,...,...,...
3110,1460,13.300,0.01,29009.0,BARRY,MO,35597,36.69937,-93.83432
3111,203,9.020,0.01,6087.0,SANTA CRUZ,CA,262382,37.01248,-122.00720
3112,2014,12.710,0.01,38103.0,WELLS,ND,4207,47.58085,-99.67150
3113,871,16.005,0.00,20021.0,CHEROKEE,KS,21603,37.16939,-94.84569
3114,994,10.185,0.00,21057.0,CUMBERLAND,KY,6856,36.78422,-85.39349

In [14]:
flipped = pd.read_csv('../../data/flipped.csv')

In [15]:
flipped

     FIPS_x state      county  target_2016   FIPS_y  target_2020
0    6007.0    CA       BUTTE            1   6007.0            0
1    6027.0    CA        INYO            1   6027.0            0
2   12031.0    FL       DUVAL            1  12031.0            0
3   12103.0    FL    PINELLAS            1  12103.0            0
4   12117.0    FL    SEMINOLE            1  12117.0            0
5   17093.0    IL     KENDALL            1  17093.0            0
6   17113.0    IL      MCLEAN            1  17113.0            0
7   26081.0    MI        KENT            1  26081.0            0
8   26089.0    MI    LEELANAU            1  26089.0            0
9   26145.0    MI     SAGINAW            1  26145.0            0
10  48163.0    TX        FRIO            0  48163.0            1
11  48209.0    TX        HAYS            1  48209.0            0
12  48249.0    TX   JIM WELLS            0  48249.0            1
13  48261.0    TX      KENEDY            0  48261.0            1
14  48273.0    TX     KLEBERG            0  48273.0            1
15  48283.0    TX    LA SALLE            0  48283.0            1
16  48389.0    TX      REEVES            0  48389.0            1
17  48439.0    TX     TARRANT            1  48439.0            0
18  48465.0    TX   VAL VERDE            0  48465.0            1
19  48491.0    TX  WILLIAMSON            1  48491.0            0
20  48505.0    TX      ZAPATA            0  48505.0            1